<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    
        
        <div class="card" style=" width: 18rem;">
            <img style="height: px; width:500px" src="<%= img %> " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">imagen Ejemplo</h5>
              <p class="card-text">Practicando EJS</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

</body>
</html>